.input{
   height: 29.34px;
   width: 201.3px;
   border-radius: 2.7px;
   padding-left: 5.33px;
   background-color: #FBFBFB;
   color: #66727C;
   font-size: 12px;
   font-weight: 300;
   border: none;
}