.editprofile {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: auto;
    height: calc(100vh - 64px);
}

.editprofile--labels {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.editprofile--label {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 28px;
    color: white;
    padding-bottom: 25px;
    &__input {
        display: flex;
        justify-content: center;
        align-items: center;
        color: black;
        margin-left: 10px;
        &__file {
            margin-left: 0px;
        }
    }
}

.addcomment {
    display: flex;
    justify-content: space-around;
    &__buttom {
        margin-top: 12px;
        text-decoration: none;
        display: inline-block;
        padding: 12px;
        border-radius: 50px;
        width: 110px;
        text-decoration: none;
        font-weight: bold;
        color: black;
        background-color: rgb(77, 213, 153);
        text-align: center;
        border: none;
        outline: none;
        line-height: 25px;
    }
    &__buttom:last-child {
        margin-top: 12px;
        text-decoration: none;
        display: inline-block;
        padding: 12px;
        border-radius: 50px;
        width: 110px;
        text-decoration: none;
        font-weight: bold;
        color: black;
        background-color: rgb(213, 93, 77);
        text-align: center;
        border: none;
        outline: none;
        line-height: 25px;
    }
}