.help {
    width: auto;
    height: auto;
    padding: 25px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.help--text {
    padding: 10px;
    text-align: center;
    &__title {
        color: yellow;
        padding-bottom: 10px;
    }
    &__txt {
        font-size: 20px;
        color: white;
        padding: 10px;
    }
    &__txt:last-child {
        font-size: 20px;
        color: yellow;
        padding: 10px;
    }
}

.help--contacts {
    padding: 10px;
    &__list {
        padding: 10px;
        font-size: 24px;
        text-align: center;
        text-decoration: none;
        &__name {
            text-decoration: none;
            color: white;
            list-style: none;
        }
    }
}

.copy {
    color: white;
}

.yellow {
    color: yellow;
}