.home {
    height: auto;
    width: auto;
    padding-bottom: 45px;
    background-color: rgb(8, 8, 47);
    color: white;
}

.home--user {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    font-size: 24px;
    letter-spacing: 2px;
    padding: 20px;
    &__name {
        color: yellow;
    }
    &__text {
        padding-top: 8px;
        font-size: 16px;
    }
}

.home--sections {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 0;
    margin-top: 8px;
}

.slider {
    display: block;
    width: 100%;
    overflow-x: scroll;
    margin-top: 14px;
    padding-top: 0;
    box-sizing: border-box;
    padding-bottom: 20px;
    background-color: rgba(14, 14, 94, 0.295);
}

.slider::-webkit-scrollbar {
    display: none;
}

.slider {
    -ms-overflow-style: none;
}

.slider__container {
    display: block;
    // margin: 10px;
    text-align: center;
    white-space: nowrap;
    perspective: 100px;
}

.slider__img {
    display: inline-block;
    margin-right: 10px;
}

.image {
    width: 150px;
    height: 150px;
    border: 2px solid black;
    transition: transform 1s;
}

.image:hover {
    transform: scale(1.30);
}

.slider img {
    width: 100px;
    height: 100px;
}
