@import '../../index.scss';
.profile {
    display: grid;
    grid-template-columns: 0.2fr 1fr 0.2fr;
    grid-template-rows: 1fr;
    grid-template-areas: "empty pcontainer empty2" "empty1 pcontainer empty2" "empty1 pcontainer empty2";
    justify-content: center;
    align-items: center;
    background-color: $bg_color;
    height: 90vh;
    width: auto;
    #empty1 {
        grid-area: empty1;
    }
    #pcontainer {
        grid-area: pcontainer;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        .container_button {
            grid-area: container_button;
            text-align: center;
            padding: 1rem;
            button {
                width: 180px;
                height: 35px;
                background-color: #5ED699;
                border-radius: 13.33px;
                color: #141033;
                font-size: 15px;
                font-weight: bolder;
                border: none;
            }
        }
    }
    #empty2 {
        grid-area: empty2;
    }
}

@media (max-width:450) {
    .profile {}
}