.map {
    display: flex;
    flex-direction: column;
    padding-top: 6px;
    padding-left: 26px;
    &__latlong {
        display: none;
    }
}

.map--link {
    font-size: 20px;
    color: yellow;
    text-decoration: none;
}