.mytickets {
    height: auto;
    width: auto;
    background-color: #08082f;
    padding-bottom: 64px;
}

.mytickets-card {
    display: flex;
    flex-direction: row;
    justify-content: left;
    border: none;
    background-color: yellow;
    margin: 26px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    &__img {
        width: 210px;
        height: 190px;
    }
}

.mytickets-date {
    display: flex;
    flex-direction: column;
    padding: 10px;
    justify-content: space-between;
}

hr {
    border: 1px solid #36C494;
    margin: 10px 10px;
}