.card{
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-items: center;
   width: 100%;
   color: #FBFBFB;
   font-size: 22px;

   &__image{
      width: auto;
      height: 160px;
      border-radius: 100px;
      border: 0px solid cadetblue;
      box-shadow: 0 0 60px #4fd;


      img{
         width: 160px;
         height: 160px;
         margin-bottom: 10.66px;
         border-radius: 100px;
         
      }
   }
   
   .tex-container{

      margin-top: 24px;
      width: 100%;


      &__title{
         margin-top: 20px;
         color: yellow; 
      }

      &__text{
         color: #FBFBFB;
         font-size: 22px;
         margin-bottom: 10.66px;
         padding-top: 20px;
      }

      .divline{
         border-bottom: 2px solid cadetblue;
         width: 100%;
         background-color: cadetblue;
         display: inline-block;

      }

   }
}